html {
    scroll-behavior: smooth;
}

body {
    width: 96%;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;

}
header{
    border: 1px solid red;
}
.header-container{
    display: flex;
    justify-content: center;
}
#questionnaire{
display: flex;
justify-content: space-around;

}
.questionnaire{
display: flex;

}
.lebel-all,
.input-all {
    display: flex;
    flex-direction: column;

}
.questionnaire-result{
    display: flex;
    justify-content: space-around;
}

.questionnaire-result .result{
    display: flex;
    flex-direction: column-reverse;
}



#questionnaire{
    border: 1px dotted black;
}
.questionnaire-result{
    border: 1px solid blueviolet;
}


footer{
    text-align: center;
    font-size: 8px;
    color: #4267B2
}
footer a {
    color: #4267B2;
}